<ion-header>
  <ion-navbar>
    <button left ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>LampTest</ion-title>
    <button ion-button menuToggle right>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item *ngFor="let cat of categories">
      <h2>{{cat.title}}</h2>
      <ion-row nowrap class="scroll-row">
      <ion-col col-3 class="movie-poster" *ngFor="let movie of cat.movies">
        <img class="img-small" [src]="movie.img" (click)="goToMoviePage(movie)">
        <ion-icon color="{{movie.lampRating}}" class="overlay-icon" name="lampTest-lamp"></ion-icon>
      </ion-col>
    </ion-row>


    </ion-item>
  </ion-list>
  </ion-content>
